body {
  background-color: white;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: #B6B6B7;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 100;
  /*font-style: normal;*/
  /*line-height: 1.45;
  overflow-x: hidden;*/
  /*width: 100%;*/

  /* Force the page to 100% width
  This sweeps the real problem under the rug...
  Should really find the culprit that is the element
  that is forcing the content larger than 100%
  */
}

/* ------- nav bar ------ */

.nav-scroll{
  position: fixed;
  top: 0em;
  text-align: center;
  z-index: 0;
  width: 100%;
  left: 0;
  /*margin: 0 0 10px 0;*/
}

#nav {
  font-size: 1em;
  text-align: center;
  z-index: 1;
  margin-top: 0px;
  background-color: white;
  height: 3.25em;
  padding-top: 5.5em;
  padding-left: 0em;
  padding-right: 0em;
}

ul {
  justify-content: center;
  display: block;
  list-style-type: disc;
}

li {
  text-decoration: none;
  display: inline;
  padding: 23px;
}

.nav-words:hover{
  color: #767676;
  cursor: pointer;
  border-bottom:2.5px solid #767676;
}

.nav-words-active {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 17px;
  color: #686868;
  text-decoration: none;
  font-weight: bolder;
}

.nav-words{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 17px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
}

.landing{
  background-position: center;
}

.landing-image {
  position: relative;
  vertical-align: middle;
  height: 1100px;
  background-image: url("/include/img/landing/parallax/LandingPage_1280w.jpg");
  background-size: auto 600px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.landing-mobile-image {
  position: relative;
  vertical-align: middle;
  height: 1100px;
  background-image: url("/include/img/landing/parallax/LandingPage_800w.jpg");
  background-size: auto 600px;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 1;
}

.landing-logo {
  height: 64px;
  width: 100%;
  background-image: url("/include/img/landing/Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 150;
}

.landing-logo-scroll{
  position: fixed;
  top: 1em;
  left: 0;
}

/*--- thumbnails ---*/

a {
  text-decoration: none;
}

.gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0em;
  max-width: 80em;
  z-index: 0;
}

.gallery-padding {
  padding-top: 156px;
}

.gallery-item {
  margin: 1px;
  opacity: 0;
}

@media only screen and (min-width: 250px) {
    .thumbnail {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .thumbnail {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1000px) {
    .thumbnail {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

.is-showing{
  opacity: 1;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
}

.imgWrap {
  position: relative;
  width: 320px;
  height: 225px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.75);
  color: #767676;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding-top: 100px;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.full-image {
  max-width: 700px;
  width: 100%;
  justify-content: center;
}

.full-image-bottom {
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
}

/* back-to-top button */

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 6em;
right: 2em;
width: 40px;
height: 40px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;
}
