body {
  background-color: white;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: #B6B6B7;
  letter-spacing: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 100;
  line-height: 1.45;
  left: 0;
  margin: 0 auto;
  width: 90%;
}


/* ----- Landing ----- */


.landing{
  vertical-align: middle;
}

.grid-item {
  /*display: block;*/
}

.landing-image {
  margin-top: 5%;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
}

.site-button{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 20px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
}

#home-page p {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
#home-page p.load {
    opacity: 1;
}

#home-page p:hover {
  color: #767676;
  cursor: pointer;
  border-bottom:3px solid #767676;
}

/* ----- Main ----- */


/* ---- nav ---- */

#logo{
    align-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

/*#nav {
  position: relative;
  font-size: 20px;
  text-align: center;
}

#nav:before, #nav:after {
    position: absolute;
    top: 65%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #B6B6B7;
}
#nav:before {
    margin-left: -50%;
    text-align: center;
}*/

ul {
  justify-content: center;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li {
  text-decoration: none;
  display: inline;
  /*text-align: center;*/
  padding: 23px;
}

.nav-words:hover{
  color: #767676;
  cursor: pointer;
  border-bottom:2.5px solid #767676;
}

.nav-words-active {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 17px;
  color: #686868;
  text-decoration: none;
  font-weight: bolder;
}

.nav-words{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 17px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
}

/* --- end nav ---*/


/*filters*/

/*.sidebar-filters {
  /*position: fixed. 0px, 0, 0px, 0px;
  z-index: 0;
}

.sidebar {
  z-index: 0;

}

.sidebar-list {
  display: block;
  text-decoration: none;
  text-align: left;
}*/

/*Work*/

/*---------------*/
/***** Marley *****/
/*---------------*/

/*figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


figure.effect-marley p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}*/

/* end Marley */

a {
  text-decoration: none;
}

.gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 1000px;
  z-index: 0;
}

.gallery-item {
  margin: 1px;
}

.imgWrap {
  position: relative;
  width: 320px;
  height: 225px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.75);
  color: #767676;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding-top: 100px;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.headers {
  position: relative;
  background-color: white;
  height: 60px;
  max-width: 1000px;
  width: 100%;
}

.full-image {
  max-width: 700px;
  width: 100%;
  justify-content: center;
}

.full-image-bottom {
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
}

/* back-to-top button */

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 2em;
right: 2em;
width: 40px;
height: 40px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;
}

/* about page */

.about-image {
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
}

/* resume page */

.resume {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  max-width: 900px;
}
