@media (min-width: 360px) {
  body {
    font-size: 1.0em;
  }
}

body{
  background-color: white;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: #B6B6B7;
  letter-spacing: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 100;
  line-height: 1.45;
  left: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

/* ----- Landing ----- */

.grid {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
}

.grid-item img{
  flex: 1;
  width: 100%;
  vertical-align:middle;
}

.landing{
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.site-button{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 20px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
}

#home-page p {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
#home-page p.load {
    opacity: 1;
}

#home-page p:hover {
  color: #767676;
  cursor: pointer;
  border-bottom:3px solid #767676;
}

/* ----- Main ----- */


/* Header */

#logo{
  float:left;
  margin-left: 40px;
  margin-top: 20px;
}





/* ----- about toggle ---- */

.dropdown-toggle{
  float: left;
  margin-top:50px;
  margin-left: 23px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 20px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
  display: inline-block;
  border-bottom:3px solid #ffffff
}

.dropdown-toggle:hover {
  color: #767676;
  border-bottom:3px solid #767676;
}

.toggle-content {
  display: none;
  position: absolute;
  width: 800px; height: 419px;
  float: left;
  margin-top: 80px;
}

.toggle-content.active {
  display: block;
}

.about-close:hover {
  color: #767676;
  border-bottom:3px solid #767676;
}

.about-image {
  margin-top: 10px;
  margin-left: 43px;
  background-image: url("img/gallery/full/About/about.jpg");
  background-repeat: no-repeat;
  width: 800px; height: 0;
  padding-top: 70%;
  position: absolute;
}

.contact {
  position: absolute;
  right: 233px;
  bottom: 35px;
}

/* ---- nav ---- */

/*.navigation{
  float: right;
  margin-right: 40px;
  margin-top: 53px;
  max-width: 100;
  display: inline-block;
}*/

/*nav li{
  text-decoration: none;
  display: inline;
  text-align: inherit;
}*/

#nav {
  margin: 1%;
}

li{
  text-decoration: none;
  display: inline;
  text-align: inherit;
  float: right;
  padding: 0.5em;
}

.nav-words:hover{
  color: #767676;
  cursor: pointer;
  border-bottom:2.5px solid #767676;
}

.nav-words-active {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 17px;
  color: #686868;
  text-decoration: none;
  font-weight: bolder;
}

.nav-words{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 17px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
}

.resume {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 20px;
}


/*Work*/

a {
  text-decoration: none;
}
.gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 10px;
}

.gallery-item .thumbnail {
  border-bottom:4px solid #ffffff;
}

.gallery-item .thumbnail:hover {
  border-bottom:4px solid #767676;
}

.thumb-titles {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 16px;
	font-weight: 100;
  margin-top: 4px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: left;
}

/*Work Description*/


.modal-background {
  display: none;
  position: fixed;
  left: 0px; right: 0px;
  top: 0px; bottom: 0px;
  background-color: #000000;
  opacity:.6;
  justify-content: center;
}

.modal-content {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%; height: 650px;
  left: 50%;
  margin: -300px 0 0 -500px;
  overflow: scroll;
  background-color: #ffffff;
  justify-content: center;
}

.modal-background.active, .modal-content.active {
  display: block;
  justify-content: center;
}

body.scroll-locked {
  overflow: hidden;
  height: 100%;
}

/*.headers {
  position: fixed;
  width: 100%;
  height: auto;
  /*top: 87px;*/


/*.close {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 20px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
  right: 220px;
  top: 123px;
  border-bottom:3px solid #ffffff;
  position: fixed;
}

.close:hover {
  color: #767676;
  border-bottom:3px solid #767676;
}*/

/*.descriptions {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 15px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: left;
  margin-right: 47px;
  margin-left: 45px;
  margin-top: 110px;
}*/

.full-image {
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.full-image-bottom {
  justify-content: center;
  width:auto;
  margin-top: 10px;
}
