body {
  background-color: white;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: #B6B6B7;
  letter-spacing: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 100;
  line-height: 1.45;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}

/* --- nav --- */

#logo{
    text-align: center;
    padding-top: 21px;
    margin-bottom: 3px;
    height: 7.5em;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 3;

    /*height: 64px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
    position: fixed;
    padding-top: 21px;
    left: 0;
    background-color: white;*/
}

#nav {
  font-size: 1em;
  text-align: center;
  margin-top: 87px;
  background-color: white;
  padding-left: .1em;
  padding-right: 0em;
  position: fixed;
  width: 100%;
  z-index: 4;

    /*position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 1em;
    z-index: 1;
    margin-top: 85px;
    background-color: white;
    height: 3.25em;
    padding-top: 2px;*/
}

ul {
  justify-content: center;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li {
  text-decoration: none;
  display: inline;
  padding: 23px;
}

.nav-words:hover{
  color: #767676;
  cursor: pointer;
  border-bottom:2.5px solid #767676;
}

.nav-words-active {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 17px;
  color: #686868;
  text-decoration: none;
  font-weight: bolder;
}

.nav-words{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 17px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
}

.masonry{
  column-gap: .5em;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 8em;
}

@media only screen and (min-width: 250px) {
    .header-images {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 800px) {
    .header-images {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

.header-images{
    display: inline-flex;
    margin: 0 0 1em;
    width: 100%;
    max-width: 603px;
}

.work-image{
  display: inline-flex;
  margin: 0 0 1em;
  width: 100%;
  max-width: 603px;
  opacity: 0;
  padding-top: 5em;
}

.work-image-large{
  display: inline-flex;
  margin: 0 0 1em;
  width: 100%;
  max-width: 1206px;
  opacity: 0;
  padding-top: 5em;
}

.spread-images{
  opacity: 0;
  margin-top: 5em;
  max-width: 1206px;
}

.is-showing{
  opacity: 1;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
}

.spreads{
    max-width: 1206px;
    width: 100%;
    flex-wrap: wrap;
    z-index: 2;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.result-images{
  opacity: 0;
  margin-top: 5em;
}

.results{
    max-width: 1010px;
    width: 100%;
    margin-bottom: 5em;
    flex-wrap: wrap;
    z-index: 2;
    padding-left: 30px;
    padding-right: 30px;
}

.remove-blank-header-image{
  opacity: 0;
  height: 0px;
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 6em;
right: 2em;
width: 40px;
height: 40px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;
}

.about-image {
  margin-top: 10em;
  width: 100%;
  max-width: 800px;
}

.social-icons{
  text-decoration: none;
}

.resume {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8em;
  width: 100%;
  max-width: 900px;
}

.cta {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 20px;
  color: #B6B6B7;
  text-decoration: none;
  font-weight: 100;
  justify-content: center;
  padding-bottom: 70px;
}

.cta:hover{
  color: #767676;
  cursor: pointer;
  /*border-bottom:2.5px solid #767676;*/
}
